npm-debug*
test/unit/coverage
mockup

.idea
.vscode
.sonar
sonar_test
yarn-error.log

cache/*.js
cache/*.json
cache/*.info
.cache
document/_site
module.config.json

playground

.idea
node_modules
/dist
.DS_store
